#sidebar {
    position: fixed;
    top: 56px;
    left: 0;
    box-shadow: 1px 0 0 lightgray;
    margin-right: 50px;
    height: 100%;
}

#sidebar .container {
    width: 260px
}

#sidebar .icon {
    width: 26px;
    margin-left: 22px;
    margin-right: 30px;
}

#sidebar .category {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 10px;
    white-space: nowrap;
    cursor: pointer;
}

#sidebar .category:hover {
    background-color: lightgray;
    border-radius: 10px;
}

#sidebar .category.active {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    filter: invert(1);
    font-weight: 500;
}